$white: #fff;

.title {
    margin-top: 0px;
    text-align: center;
    max-width: 100%;
}

.about {
    max-width: 600px;;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: $white;
}