$text: #394348;

.content-two {
  height: auto;
  display: grid;
  grid-gap: 20px;
  padding-bottom: 20px;
  margin-left: 0px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 
      "c"
      "c"
      "c"
      "c";
}

.talktalk, .sky, .jlr, .btp {
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
}

img {
  border-radius: 5px;
  max-width: 100%;
  max-height: auto;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  color: $text;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.description {
  margin-left: 20px;
  color: $text;
  margin-top: 0px;
}

@media screen and (min-width: 600px) {
  .content-two {
    padding-bottom: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "c c"
        "c c";
  }
}
  
@media screen and (min-width: 1225px) {
  .content-two {
    grid-gap: 40px;
    padding-bottom: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
        "c c"
        "c c";
  }
}